<%Object.keys(data).forEach(function(v) {%>
	<div class="<%=classMap[v]%>-circle">
		<% var perAngel = (360/data[v].length); %>
		<%data[v].forEach(function(item, index){%>
			<div class="<%=classMap[v]%>-ball" style="transform:rotateZ(<%=perAngel*index%>deg)" ball-event="rotate">
				<span class="ball-name"  style="transform:rotateZ(-<%=perAngel*index%>deg)"><%=item.name%></span>
			</div>
		<%})%>
	</div>
<%})%>