@import 'csslib.less';
body{
	width:100%;
	height:100%;
	background:#002144 url('/img/bg.png') 0 0 repeat-x;

}
.logo{
	text-align: center;
	.logo-img{
		.rem(margin-top, 70rem);
		.rem(width, 287rem);
		.rem(height, 233rem);
	}
	&-title img{
		.rem(margin-top, 0rem);
		.rem(width, 649rem);
		.rem(height, 106rem);
	}
}
.dial{
	position: relative;
	margin: 0 auto;
	.rem(margin-top, 40rem);
	.rem(width, 1065rem);
	.rem(height, 1065rem);
	.ball-name{
		position: absolute;
		left:50%;
		top:0;
		text-align: center;
	}
	.big-circle-bg,
	.mid-circle-bg,
	.small-circle-bg{
		position: absolute;
		.rem(width, 1065rem);
		.rem(height, 1065rem);
	}
	.big-circle-bg{
		background:url('/img/big_circle.png') 0 0 no-repeat;
		background-size: 100% 100%;
	}
	.mid-circle-bg{
		background:url('/img/mid_circle.png') center center no-repeat;
		.rem(background-size, 709rem, 709rem);
	}
	.small-circle-bg{
		background:url('/img/small_circle.png') center center no-repeat;
		.rem(background-size, 459rem, 459rem);
	}
	.big-circle{
		position: absolute;
		.rem(width, 970rem);
		.rem(height, 970rem);
		top:50%;
		left:50%;
		.rem(margin-left,-485rem);
		.rem(margin-top,-485rem);
		// position: absolute;
		// .rem(width, 1065rem);
		// .rem(height, 1065rem);
		// // background:url('/img/big_circle.png') 0 0 no-repeat;
		// // background-size: 100% 100%;
		transition:transform 1s ease;
		.big-ball{
			// position: absolute;
			// .rem(width, 970rem);
			// .rem(height, 970rem);
			// top:50%;
			// left:50%;
			// .rem(margin-left,-485rem);
			// .rem(margin-top,-485rem);
			position: absolute;
			width:100%;
			.rem(height, 121rem);
			left:50%;
			.rem(margin-left, 60rem);
			background:url('/img/big_ball.png') center 0 no-repeat;
			.rem(background-size, 121rem, 121rem);
			.ball-name{
				font-size:24px;
				.rem(width, 121rem);
				.rem(height, 121rem);
				.rem(line-height, 121rem);	
				.rem(margin-left, -60rem);		
			}
		}
		.big-ball1{
			transform:rotateZ(60deg);
		}
		.big-ball2{
			transform:rotateZ(120deg);
		}
		.big-ball3{
			transform:rotateZ(180deg);
		}
		.big-ball4{
			transform:rotateZ(240deg);
		}
		.big-ball5{
			transform:rotateZ(300deg);
		}
	}
	.big-circle-high{
		position: absolute;
		left:50%;
		top:50%;
		transform:translate(-50%, -50%);
		.rem(width, 921rem);
		.rem(height, 921rem);
		background:url('/img/big_circle_high.png') 0 0 no-repeat;
		background-size: 100% 100%;
	}
	.mid-circle{
		position: absolute;
		.rem(width, 1065rem);
		.rem(height, 1065rem);
		// background:url('/img/mid_circle.png') center center no-repeat;
		// .rem(background-size, 709rem, 709rem);
		transition:transform 1s ease;
		.mid-ball{
			position: absolute;
			.rem(width, 670rem);
			.rem(height, 670rem);
			left:50%;
			top:50%;
			.rem(margin-left, -335rem);
			.rem(margin-top, -335rem);
			background:url('/img/mid_ball.png') center 0 no-repeat;
			.rem(background-size, 108rem, 107rem);
			.ball-name{
				font-size:22px;
				.rem(width, 108rem);
				.rem(height, 107rem);
				.rem(line-height,107rem);
				.rem(margin-left, -54rem);	
			}
		}
		.mid-ball1{
			transform:rotateZ(60deg);
		}
		.mid-ball2{
			transform:rotateZ(120deg);
		}
		.mid-ball3{
			transform:rotateZ(180deg);
		}
		.mid-ball4{
			transform:rotateZ(240deg);
		}
		.mid-ball5{
			transform:rotateZ(300deg);
		}
	}
	.mid-circle-high{
		position: absolute;
		left:50%;
		top:50%;
		transform:translate(-50%, -50%);
		.rem(width, 647rem);
		.rem(height, 647rem);
		background:url('/img/mid_circle_high.png') 0 0 no-repeat;
		background-size: 100% 100%;
	}
	.small-circle{
		position: absolute;
		.rem(width, 1065rem);
		.rem(height, 1065rem);
		// background:url('/img/small_circle.png') center center no-repeat;
		// .rem(background-size, 459rem, 459rem);
		transition:transform 1s ease;
		.small-ball{
			position: absolute;
			.rem(width, 400rem);
			.rem(height, 400rem);
			left:50%;
			top:50%;
			.rem(margin-left, -200rem);
			.rem(margin-top, -200rem);
			background:url('/img/small_ball.png') center 0 no-repeat;
			.rem(background-size, 92rem, 92rem);
			.ball-name{
				font-size:16px;
				.rem(width, 92rem);
				.rem(height, 92rem);
				.rem(line-height,92rem);	
				.rem(margin-left, -46rem);	
			}
		}
		.small-ball1{
			transform:rotateZ(60deg);
		}
		.small-ball2{
			transform:rotateZ(120deg);
		}
		.small-ball3{
			transform:rotateZ(180deg);
		}
		.small-ball4{
			transform:rotateZ(240deg);
		}
		.small-ball5{
			transform:rotateZ(300deg);
		}
	}
	.small-circle-high{
		position: absolute;
		left:50%;
		top:50%;
		transform:translate(-50%, -50%);
		.rem(width, 339rem);
		.rem(height, 339rem);
		background:url('/img/small_circle_high.png') 0 0 no-repeat;
		background-size: 100% 100%;
	}
	.search{
		position: absolute;
		left:50%;
		top:50%;
		transform:translate(-50%, -50%);
		.rem(width, 159rem);
		.rem(height, 159rem);
		background:url('/img/search.png') 0 0 no-repeat;
		background-size: 100% 100%;
	}
	.light{
		position: absolute;
		left:50%;
		top:0;
		transform: translate(-50%, 0);
		.rem(width, 426rem);
		.rem(height, 537rem);
		background:url('/img/light.png') 0 0 no-repeat;
		background-size:100% 100%;
		opacity: .7;
	}
}
.shutdown{
	position: absolute;
	left:0;
	.rem(bottom, 66rem);
	.rem(width, 93rem);
	.rem(height, 78rem);
	background:url('/img/shutdown.png') 0 0 no-repeat;
	background-size: 100% 100%;
}
.go-find{
	position: absolute;
	left:50%;
	transform:translate(-50%,0);
	.rem(bottom, 200rem);
	.rem(width, 247rem);
	.rem(height, 78rem);
	background: url('/img/go_find.png') 0 0 no-repeat;
	background-size:100% 100%;
}